.element {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .div {
  background-color: #ffffff;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.element .img {
  position: absolute;
  width: 447px;
  height: 244px;
  top: 162px;
  left: 304px;
  object-fit: cover;
}

.element .img-2 {
  position: absolute;
  width: 415px;
  height: 72px;
  top: 854px;
  left: 388px;
}

.element .img-3 {
  position: absolute;
  width: 225px;
  height: 67px;
  top: 511px;
  left: 388px;
}

.element .overlap {
  width: 397px;
  height: 70px;
  top: 765px;
  background-image: url(./img/2024-06-27-234029-2.png);
  background-size: 100% 100%;
  position: absolute;
  left: 388px;
}

.element .img-4 {
  position: absolute;
  width: 397px;
  height: 70px;
  top: 0;
  left: 0;
}

.element .img-5 {
  position: absolute;
  width: 239px;
  height: 67px;
  top: 679px;
  left: 388px;
}

.element .overlap-group {
  width: 155px;
  height: 61px;
  top: 598px;
  position: absolute;
  left: 388px;
}

.element .img-6 {
  position: absolute;
  width: 155px;
  height: 61px;
  top: 0;
  left: 0;
}

.element .img-7 {
  position: absolute;
  width: 137px;
  height: 28px;
  top: 990px;
  left: 1684px;
  object-fit: cover;
}
